@using MudBlazor;
@using System.Reflection

<MudGrid Justify=Justify.Center Class="center" Style="height: 88%;">
	<MudItem Class="center" Style="height: 15%; align-items: end;" xs=12>
		<MudText Typo="Typo.h2">@Loc["SafetyInfo"]</MudText>
	</MudItem>
    <MudItem Style="height: 85%;" xs=12>
		<CustomMudCarousel @ref="carousel" SelectedIndexChanged=StateHasChanged Style="height: 100%;" AutoCycle="false" Wrap="false" TData="object">
			@for(int p = 0; p < Pages; p++)
			{
				var localp = p;
				<MudCarouselItem>
					<MudGrid Style="height: 100%; padding: 1rem 4rem 2rem;" Justify=Justify.Center>
						@for (int i = itemsPerPage * localp; (i < itemsPerPage * localp + itemsPerPage) && i < safetyItems.Length; i++)
						{
							var locali = i;
							<MudItem xs="5" Class="center">
								<MudPaper Elevation=15 Style="padding: 1rem; background-color: #fffc; width: 100%;">
									<div style="height: 10em; display: flex; width: 100%;">
										<img style="width: 10em; align-self: center" src="@(safetyItems[locali].ImagePath)"/>
										<div style="overflow: scroll; margin-left: 2em;">
											<MudText Style="text-decoration: underline;" Typo=Typo.h5>@safetyItems[locali].Title</MudText>
											<MudText>@safetyItems[locali].Text</MudText>
										</div>
									</div>
								</MudPaper>
							</MudItem>
						}
					</MudGrid>
				</MudCarouselItem>
			}
		</CustomMudCarousel>
	</MudItem>
</MudGrid>

<TerminalFooter @bind-SelectedLanguage=Loc.Culture>
	<LeftItem>
		<MudButton Class="touchscreen-button" OnClick=Back Size=Size.Large Variant=Variant.Filled Color=Color.Secondary StartIcon=@Icons.Outlined.ArrowBack Disabled=@(!OnBack.HasDelegate && carousel.SelectedIndex == 0)>@Loc["Back"]</MudButton>
	</LeftItem>
	<CenterItem>
		@if (carousel.SelectedIndex == Pages - 1)
		{
			<MudCheckBox @bind-Checked="accepted" Label=@Loc["SafetyInfoRead"] Required=true RequiredError=@Loc["SafetyInfoNotRead"]/>
		}
	</CenterItem>
	<RightItem>
		<MudButton Class="touchscreen-button" OnClick=NextOrRegister Size=Size.Large Variant=Variant.Filled Color=@(!LastPage ? Color.Secondary : Color.Success) EndIcon=@Icons.Outlined.Check Disabled=@(registering || LastPage && !accepted)>
			@if (registering)
			{
				<div class="mr-4" style="height: 2rem">
					<MudProgressCircular Indeterminate="true" Style="height: 2rem; width: 2rem;"/>
				</div>
			}
			@(carousel.SelectedIndex < Pages - 1 ? Loc["Next"] : Loc["FinishRegister"])
		</MudButton>
	</RightItem>
</TerminalFooter>

@code {
	[CascadingParameter]
	public Localizer Loc { get; set; }

	[CascadingParameter]
	public System.Resources.ResourceManager SafetyItemResource { get; set; }

	[Parameter]
	public EventCallback OnRegister { get; set; }
	[Parameter]
	public EventCallback OnBack { get; set; }

	private CustomMudCarousel<object> carousel;
	private SafetyItem[] safetyItems => SafetyItem.LoadFromResource((SafetyItemResource != null) ? new Localizer(SafetyItemResource, Loc.Culture) : new("NBG.Visitor.Resources.SafetyItems", Assembly.GetEntryAssembly(), Loc.Culture)).ToArray();
	private int itemsPerPage = 6;
	private int Pages
	{
		get
		{
			return (int)Math.Ceiling((double)safetyItems.Length / (double)itemsPerPage);
		}
	}
	private bool LastPage
	{
		get
		{
			return !(carousel.SelectedIndex < Pages - 1);
		}
	}

	private bool accepted;
	private bool registering = false;

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			//Needed to enable carousels indexchanged event
			Task.Run(async () =>
			{
				await Task.Delay(500);
				await InvokeAsync(StateHasChanged);
			});
		}
		base.OnAfterRender(firstRender);
	}

	private async Task Back()
	{
		if (carousel.SelectedIndex == 0)
			await OnBack.InvokeAsync();
		else
			carousel.Previous();
	}

	private async Task NextOrRegister()
	{
		if (LastPage)
		{
			if (accepted)
			{
				registering = true;
				await OnRegister.InvokeAsync();
				registering = false;
			}
		}
		else
			carousel.Next();
	}
}
