@using Microsoft.AspNetCore.Components.Routing;
@using MudBlazor;
@using NBG.Visitor.Domain;
@using NBG.Visitor.Storage.Dtos;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components;

@inject IVisitService DataRepository;
@inject IDialogService DialogService;

<MudAppBar Class="red darken-4" Fixed="false" Dense=false>
    <img src="/img/Logo/nbg_logo.png" style="max-height:80%; margin-right:20px;"/>
    <NavLink href="terminal">
        <MudButton Class="red-text text-lighten-5" Icon="@Icons.Material.Filled.ConnectWithoutContact">Visitor Registration</MudButton>
    </NavLink>   
    <NavLink href="visitors">
        <MudButton Class="red-text text-lighten-5" Icon="@Icons.Material.Filled.EditNote" >Visitor Administration</MudButton>
    </NavLink>
    <MudSpacer></MudSpacer>
    <form method="get" action="logout">
        <button type="submit" class="nav-link btn btn-link" id="logoutBtn">Log out</button>
    </form>
</MudAppBar>

@if (!isLoaded)
{
    <p><em>Loading Visitors...</em></p>
}
else
{
    <MudTable style="height:100%" Items=@Visits Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Elevation=1 Class="ml-0 mr-0" Filter="new Func<VisitDto,bool>(FilterFunc)">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Visits</MudText>
            <MudSpacer />
            <!--<div id = "filterOptions">
                <span>Filter: </span>
                <MudToggleIconButton  Color="Color.Success"  Size=Size.Small @bind-Toggle=@(filterActive)></MudToggleIconButton > 
                <MudToggleIconButton  Color="Color.Warning"  Size=Size.Small @bind-Toggle=@(filterPending)></MudToggleIconButton >
                <MudToggleIconButton  Color="Color.Error"    Size=Size.Small @bind-Toggle=@(filterOver)></MudToggleIconButton >
            </div>-->
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<VisitDto, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<VisitDto, object>(x=>x.Visitor.FirstName)">First Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<VisitDto, object>(x=>x.Visitor.LastName)">Last Name</MudTableSortLabel></MudTh>
            <MudTh>Phone Number</MudTh>
            <MudTh>Email</MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<VisitDto, object>(x=>x.Company.CompanyLabel)">Company</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<VisitDto, object>(x=>x.ContactPerson.Name)">Contact Person</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<VisitDto, object>(x=>x.VisitStart)">Start</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<VisitDto, object>(x=>x.VisitEnd)">End</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<VisitDto, object>(x=>x.Status)">Status</MudTableSortLabel></MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.Visitor.FirstName</MudTd>
            <MudTd>@context.Visitor.LastName</MudTd>
            <MudTd>@context.Visitor.PhoneNumber</MudTd>
            <MudTd>@context.Visitor.Email</MudTd>
            <MudTd>@context.Company.CompanyLabel</MudTd>
            <MudTd>@context.ContactPerson.Name</MudTd>
            <MudTd>@context.VisitStart</MudTd>
            <MudTd>@context.VisitEnd</MudTd>
            <MudTd Class = "status">
                @if (@context.Status == VisitStatusDto.VISIT_ACTIVE.ToString())
                {
                    //<MudChip Color="Color.Success">@context.Status</MudChip>
                    //<div><MudText Color="Color.Success">@context.Status</MudText></div>
                    <MudChip Color="Color.Success" Size=Size.Small>Visit Active</MudChip> 
                }
                else if(@context.Status == VisitStatusDto.VISIT_OVER.ToString()){
                    //<div><MudText Color="Color.Error">@context.Status</MudText></div>
                    <MudChip Color="Color.Error" Size=Size.Small>Visit Over</MudChip>
                }
                else{
                    //<div><MudText Color="Color.Warning">@context.Status</MudText></div>
                    <MudChip Color="Color.Warning" Size=Size.Small>Visit Pending</MudChip>
                }
            </MudTd>
            @*<MudTd Style = "padding-top:0px;padding-bottom:0px;">*@
            <MudTd Style = "padding-top:0px;padding-bottom:0px;padding-right:22px;">
                <MudMenu Icon="@Icons.Filled.MoreVert">
                        @if (@context.Status == VisitStatusDto.VISIT_ACTIVE.ToString())
                        {
                            <MudMenuItem OnClick=@(()=>SignOff(@context)) Style="height:30px;"><MudText Style="font-size:15px;">Sign Off</MudText></MudMenuItem>
                        }
                        <MudMenuItem OnClick=@(()=>Delete(@context)) Style="height:30px;color:red;"><MudText Style="font-size:13px;">Delete</MudText></MudMenuItem>
                </MudMenu>


                @*<MudMenu Icon="@Icons.Filled.MoreVert">
                    @if (@context.Status == VisitStatusDto.VISIT_ACTIVE.ToString())
                    {
                        <MudMenuItem OnClick=@(()=>SignOff(@context))>Sign Off</MudMenuItem>
                    }
                    <MudMenuItem OnClick=@(()=>Delete(@context)) Style="color:red;">Delete</MudMenuItem>
                </MudMenu>*@





            @*<MudIconButton Icon="@Icons.Filled.MoreVert" OnClick="">

            </MudIconButton>

                <MudFab OnClick=@(()=>Delete(@context)) Size=Size.Small Class="ml-5" DisableElevation=true Icon=@Icons.Filled.Delete></MudFab>
                @if (@context.Status == VisitStatusDto.VISIT_ACTIVE.ToString())
                {
                    <MudFab OnClick=@(()=>SignOff(@context)) Size=Size.Small Class="ml-5" DisableElevation=true Icon=@Icons.Filled.Logout></MudFab>
                }*@
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
}

@code {
    bool isLoaded;

    private string searchString = "";
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private int[] pageSizeOptions = new int[] { 11 };

    //public bool filterActive { get; set; }
    //public bool filterPending { get; set; }
    //public bool filterOver { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var visits = await DataRepository.ReadAllVisits();
        foreach(var visit in visits){
            Visits.Add(visit);
        }
        isLoaded = true;
    }

    public async Task SignOff(VisitDto visit)
    {
        var parameters = new DialogParameters { ["visit"]=visit };
        parameters.Add("ContentText", "Do you really want to manually sign off this visitor? This process cannot be undone.");
        parameters.Add("ButtonText", "Sign Off");
        parameters.Add("Color", Color.Warning);

        var dialog = DialogService.Show<Dialog>("Sign Off Visitor", parameters);

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            visit.VisitEnd = DateTime.Now;
            visit.Status = VisitStatusDto.VISIT_OVER.ToString();
            await DataRepository.UpdateVisit(visit);
        }
    }

    public async Task Delete(VisitDto visit)
    {
        var parameters = new DialogParameters { ["visit"]=visit };
        parameters.Add("ContentText", "Do you really want to delete this visitor? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var dialog = DialogService.Show<Dialog>("Delete Visitor", parameters);

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await DataRepository.RemoveVisit(visit);
            Visits.Remove(visit);
        }
    }

    private bool FilterFunc(VisitDto visit)
    {
        /*
        if(filterActive == true)
        {
            if (visit.Status == VisitStatusDto.VISIT_ACTIVE.ToString())
                return true;
        }
        if(filterPending == true)
        {
            if (visit.Status == VisitStatusDto.VISIT_PENDING.ToString())
                return true;
        }
        if(filterOver == true)
        {
            if (visit.Status == VisitStatusDto.VISIT_OVER.ToString())
                return true;
        }*/
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (visit.Visitor.FirstName.ToLower().Contains(searchString.ToLower()))
            return true;
        if (visit.Visitor.LastName.ToLower().Contains(searchString.ToLower()))
            return true;
        if (visit.Visitor.Email != null)
            if (visit.Visitor.Email.ToLower().Contains(searchString.ToLower()))
                return true;
        if (visit.Visitor.PhoneNumber.ToLower().Contains(searchString.ToLower()))
            return true;
        if (visit.ContactPerson.Name != null)
            if (visit.ContactPerson.Name.ToLower().Contains(searchString.ToLower()))
                return true;
        if (visit.Company.CompanyLabel != null)
            if (visit.Company.CompanyLabel.ToLower().Contains(searchString.ToLower()))
                return true;
        return false;
    }

    private List<VisitDto> Visits = new List<VisitDto>();
}